<div style="text-align: center; padding: 0; border: 0; margin: 0;">
  <canvas id="unity-canvas" width={{ page.game-embed-width }} height={{ page.game-embed-height }} style="width: {{ page.game-embed-width }}px; height: {{ page.game-embed-height }}px; background: #231F20"></canvas>
  <script src="{{ page.url }}/Build/WebGL.loader.js"></script>
  <script>
    createUnityInstance(document.querySelector("#unity-canvas"), {
      dataUrl: "{{ page.url }}/Build/WebGL.data",
      frameworkUrl: "{{ page.url }}/Build/WebGL.framework.js",
      codeUrl: "{{ page.url }}/Build/WebGL.wasm",
      streamingAssetsUrl: "StreamingAssets",
      companyName: "rjmarzec Games",
      productName: "{{ page.title }}",
      productVersion: "1.0",
      // matchWebGLToCanvasSize: false, // Uncomment this to separately control WebGL canvas render size and DOM element size.
      // devicePixelRatio: 1, // Uncomment this to override low DPI rendering on high DPI displays.
    });
  </script>
</div>
